@using SelenYapayZekaGit.DAL.Classes
@{
    Layout = "_AnasayfaLayout";
    List<Kategori> kategoriList = ViewBag.KategoriList;
    Kategori kat = ViewBag.Kategori;
    List<Etiket> etiketList = ViewBag.EtiketList;
}

<div class="container">
  <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Department</h4>
                            <ul>
                               @{
                                   foreach (var kategori in kategoriList)
                                   {
                                       <li><a href='/kategori/@kategori.KategoriId'>@kategori.Isim</a></li>
                                   }
                               }
                                
                            </ul>
                        </div>
                     
                        <div class="sidebar__item sidebar__item__color--option">
                            <h4>Etiketler</h4>
                           @{
                               foreach (var etiket in etiketList)
                               {
                                   <div class="">
                                       <label><input type="checkbox" value="@etiket.Isim" name="etiket"> @etiket.Isim</label>
                               
                                   </div>
                               }
                           }
                           
                        </div>
                       
                        
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>@kat.Isim</h2>
                        </div>
                      
                    </div>
                    <div class="filter__item">
                        <div class="row">
                           
                            <div class="col-lg-12 ">
                                <div class="filter__found">
                                    <h6><span>@kat.Urun.Count</span> Adet Ürün Bulundu</h6>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                    <div class="row">
                        @{
                            foreach (var urun in kat.Urun)
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" data-setbg="@urun.ResimUrl">
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__item__text">
                                            <h6><a href="#">@urun.Isim</a></h6>
                                            <h5>@urun.IncelemeAdet</h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                       
                    </div>
               
                </div>
            </div>
        </div>
    </section>

</div>