@using SelenYapayZekaGit.Classes
@using SelenYapayZekaGit.DAL.Classes
  @{
      Layout = "_AnasayfaLayout";
      List<Kategori> kategoriList = ViewBag.KategoriList;
      List<Urun> urunList = ViewBag.UrunList;
  }
  <!-- Hero Section Begin -->
  <section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Tüm Kategoriler </span>
                    </div>
                    <ul>
                        
                        @foreach (var kategori in kategoriList)
                        {
                            <li><a href='/kategori/@kategori.KategoriId'>@kategori.Isim</a></li>
                        }
              
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
               
                <div class="hero__item set-bg" data-setbg="../Anasayfa/img/hero/banner.jpg">
                    <div class="hero__text">
                        <span>Organik Oyuncak</span>
                        <h2> <br />100% Organik <br> Oyuncaklar</h2>
                        <p>Çocuğunuzun sağlığı bizim içinde önemli</p>
                        <a href="#" class="primary-btn">Satın Al</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                @{
                    foreach (var kategori in kategoriList)
                    {
                        @if(!string.IsNullOrEmpty(kategori.ResimUrl)){
                            <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="@kategori.ResimUrl">
                                <h5><a href='/kategori/@kategori.KategoriId'>@kategori.Isim</a></h5>
                            </div>
                        </div>
                        }else{
                            <div class="col-lg-3">
                          
                                <h5><a href="#">@kategori.Isim</a></h5>
                           
                        </div>
                        }
                    }
                }
          
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>En Çok Incelenen Ürünler</h2>
                </div>
                <div class="featured__controls">
                  
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            @{
                foreach (var urun in urunList)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                        <div class="featured__item">
                            <div class="featured__item__pic set-bg" data-setbg="@urun.ResimUrl">
                                <ul class="featured__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="featured__item__text">
                                <h6><a href="#">@urun.Isim</a></h6>
                                <h5>@urun.IncelemeAdet</h5> Kere Incelendi
                            </div>
                        </div>
                    </div>
                }
            }
          
        </div>
    </div>
</section>
<!-- Featured Section End -->

<!-- Banner Begin -->




<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>NEDEN BIZ</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="~/Anasayfa/img/blog/hızlı.png" alt="">
                    </div>
                    <div class="blog__item__text">
                      
                        <h5><a href="#">Hızlı</a></h5>
                        <p> Güvendiğiniz markalara en kısa yoldan ulaşım </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="~/Anasayfa/img/blog/gıvenli (2).png" alt="">
                    </div>
                    <div class="blog__item__text">
                      
                        <h5><a href="#">Güvenilir</a></h5>
                        <p> Sadece Sağlık Bakanlığı onaylı ürünler </p> 
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="~/Anasayfa/img/blog/yapayus.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                      
                        <h5><a href="#"> BIL 441 Yapay US </a></h5>
                        <p> Bil 441 Yapay Zeka teknolojisi kullanılmıştır! </p>
                    </div>
                </div>
            </div>
            
          
        </div>
    </div>
</section>
<!-- Blog Section End -->